#app {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.search-container {
  width: 25%;
}

.search-input {
  border: 1px solid gray;
  padding-left: 3px;
}

.search-results {
  max-height: 500px;
  z-index: 1;
  overflow: scroll;
  width: 100%;
  border: 1px solid gray;
}

.search-result {
  height: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  padding-left: 3px;

}

.stock-info-container {
  width: 73%;
}

.stock-info-container > h1 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

.basic-stock-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
